.gallery {
    display: flex;
    border-radius: 6px;
    margin: 60px 0;
    // @media only screen and (min-width: 395px) {
    //     margin: 80px 0;
    // }
    // @media only screen and (min-width: 500px) {
    //     margin: 280px 0;
    // }
    // @media only screen and (min-width: 600px) {
    //     margin: 420px 0;
    // }
    // @media only screen and (min-width: 650px) {
    //     margin: 50px 0;
    // }
}
  
.row {

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 10px 10px 5px rgb(140, 143, 145, 0.8);
    padding: 0 4px;
    margin: 0 auto;
    width: 90%;
    @media only screen and (min-width: 840px) {
        width: 65%;
    }
    background: rgba(189, 195, 199, 0.8);
}
  
img {
    margin-top: 8px;
    vertical-align: middle;
    width: 15%;
}
 
.mat-button {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6  51%, #2BC0E4  100%)}
.mat-button {
    min-width: 0;
    width: 92px;
    margin: 2px;
    padding: 1px 5px;
    @media only screen and (min-width: 500px) {
      padding: 1px 5px;
    }
    text-align: center;
    text-transform: uppercase;
    font-size: 8px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
    
.mat-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}