<section class="gallery">
    <div class="row">
        <!-- Logo -->
        <img class="epk-photo" src="./assets/img/logos/EB-G-InitialLogoCutout.png">
            
            <a mat-button class="dl" href="https://www.dropbox.com/s/f06rfwt8p2yh2e0/ElyzaBleau-logo.png?dl=1">Click to Download</a>

        <!-- Logo without Initials -->
        <img class="epk-photo" src="./assets/img/logos/EB-G-Logo-O.png">
            
            <a mat-button class="dl" href="https://www.dropbox.com/s/s7238e1ei0tvf1f/ElyzaBleau-logo-noEB.png?dl=1">Click to Download</a>
                    
        <!-- Name Logo -->
        <img class="epk-photo" src="./assets/img/logos/EB-Name-Logo.png">

            <a mat-button class="dl" href="https://www.dropbox.com/s/xz6wk28kzbqe4ji/ElyzaBleau-name-logo.png?dl=1">Click to Download</a>

    </div>
    
</section>