<section class="gallery">
    <div class="row">
        <div class="column">
            <!-- Logo -->
            <img class="epk-photo" src="./assets/img/logos/ElyzaBleau-Full-Logo.png">
            <div>
                <a class="dl" href="https://www.dropbox.com/s/gzoyhb90wzlek9j/ElyzaBleau-Full-Logo.png?dl=1">Click to Download</a>
            </div>

            <!-- Logo without Initials -->
            <img class="epk-photo" src="./assets/img/logos/ElyzaBleau-Logo-noInitials.png">
            <div> 
                <a class="dl" href="https://www.dropbox.com/s/o73wwu6qvz9zquf/ElyzaBleau-Logo-noInitials.png?dl=1">Click to Download</a>
            </div> 
        
            <!-- Name Logo -->
            <img class="epk-photo" src="./assets/img/logos/ElyzaBleau-Name-Logo.png">
            <div>
                <a class="dl" href="https://www.dropbox.com/s/xz6wk28kzbqe4ji/ElyzaBleau-name-logo.png?dl=1">Click to Download</a>
            </div>
        </div>
    </div>
    
</section>