<div class="bio-four">

    <h5> Suddenly, I had my guitar in hand and wrote a little ditty of a melody around those words. And then I picked more words from her diary and wove a tale around her actual story. It was rich with the feeling of travel in the 1930’s, of a girl still in college going on a trip to a city I lived in for over a decade to see family we didn’t know we had. There was sadness, longing, excitement, and thrills. All told in the words of a girl who was just along for the ride.</h5>

    <h5>The song quickly replaced another as the 4th song on Haunted. But it changed the meaning of the whole EP and helped me to brighten the other 3 songs. Yes, we may carry around a heavy weight from our past, but we also carry around the laughter and silliness that lighten the load. </h5>
    
    </div>