<section class="gallery">

    <div class="row">
        <div class="column">
          <img src="./assets/img/gallery/Apparition-studio-oneWay.jpg">
          <img src="./assets/img/gallery/Apparition-filming.jpg">
          <img src="./assets/img/gallery/Apparition-seated-guitar.jpg">

        </div>
        <div class="column">
          <img src="./assets/img/gallery/PoolOfGrey-portrait-2.jpg">
          <img src="./assets/img/gallery/PoolOfGrey-filming-day.jpg">
          <img src="./assets/img/gallery/PoolOfGrey-portrait-night.jpg">

        </div>
        <div class="column">
          <img src="./assets/img/gallery/Testify-openArms.jpg">
          <img src="./assets/img/gallery/Testify-lookingUp2.jpg">
          <img src="./assets/img/gallery/Testify-motel.jpg">

        </div>
      </div>
</section>
