.gallery {
  border-radius: 6px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 4px;
    margin: 0 auto;
    width: 75%;
    background: rgba(189, 195, 199, 0.8);
}
  
.column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
    margin: 10px;
    @media screen and (max-width: 600px) {
      flex: 100%;
      max-width: 100%;
    }
    @media screen and (max-width: 767px) {
      flex: 50%;
      max-width: 50%;
    }
}
  
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


