<section class="gallery">

    <div class="row">
        <div class="column">
          <img src="./assets/img/gallery/ElyzaBleau-fullBody-Portrait.png">
          <img src="./assets/img/gallery/Apparition-filming.png">
          <img src="./assets/img/gallery/Apparition-seated-guitar.png">
          <img src="./assets/img/gallery/Apparition-cemetery-close.png">

        </div>
        <div class="column">
          <img src="./assets/img/gallery/ElyzaBleau-nightPortrait-1.png">
          <img src="./assets/img/gallery/ElyzaBleau-PortraitWhileFilming.png">
          <img src="./assets/img/gallery/PoolOfGrey-portrait-night.png">

        </div>
        <div class="column">
          <img src="./assets/img/gallery/Testify-openArms.png">
          <img src="./assets/img/gallery/Testify-lookingUp2.png">
          <img src="./assets/img/gallery/Testify-motel.png">

        </div>
      </div>
</section>
