.gallery {
  border-radius: 6px;
  box-shadow: 10px 10px 5px rgb(140, 143, 145, 0.8);
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 4px;
    margin: 0 auto;
    width: 75%;
    background: rgba(189, 195, 199, 0.8);
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 33%;
    padding: 0 4px;
    margin: 10px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 767px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

