.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(189, 195, 199, 0.8);
    &-copyright {
        font-family: 'Nothing You Could Do', cursive;
        color: #00D0EF;
        font-size: 12px;
    }
    .mat-typography {
        @media only screen and (max-width: 800px) {
            width: 15%;
            padding: 20px;
        }
    }
    .logo {
        height: 90%;
        width: 5%;
        padding: 20px;
        @media only screen and (min-width: 800px) {
            height: 90%;
            width: 10%;
        }
    }
}