<div class="bio-two">

<h5>Having been versed in the art of improv at the Groundlings, learning sitcom and audition technique at Scott Sedita studios, and performing in both the Cricket Feet Showcase and the Twenty-Something Showcase, Elyza has a strong foundation for great funny moments. She’s even done stand up at the Comedy Store. But nonetheless, Elyza’s flair for drama is still alive and well. She also studied at AMDA, getting to sing, dance, and act all day long for musical theatre.</h5>

</div>