<div class="epk-bio">

    <h5>Often considered “that little tune you can’t get out of your head”, Elyza Bleau’s big belty vocals and catchy riff-driven guitar will have you redefining “little tune” with her new EP, <i>Haunted</i>. Through this collection of upbeat rock tunes, Bleau takes listeners on an East coast to West coast road trip with her signature beachy urban brand that’s making a splash in the alt indie rock scene.</h5>

    <h5>With a blend of the classics like Tom Petty and U2 to the modern vibes of Imagine Dragons and Florence and the Machine, <i>Haunted</i> cruises the past using a modern lens of nostalgic emotions and gives us hope that we all know better now.</h5>
        
    <h5> So come take a ride! Bring your cassette tape phone cover and your dad’s bomber jacket while you stream the night away with Elyza Bleau’s Haunted EP.</h5>

</div>
