.epk-bio {
    background: rgba(189, 195, 199, 0.8);
    border-radius: 6px;
    box-shadow: 10px 10px 5px rgb(140, 143, 145, 0.8);
    margin: 30px auto 50px auto;
    width: 280px;
    height: 1100px;
    @media only screen and (min-width: 500px) {
        width: 450px;
        height: 1120px;
        margin: 30px auto 50px auto;
    }
    @media only screen and (min-width: 900px) {
        width: 750px;
        height: 900px;
        margin: 30px 20px 50px 50px;
      }
    padding: 30px;
    h4 {
        color: black;
        font-weight: 700;
        font-size: 12px;
        @media only screen and (min-width: 500px) {
            font-size: 16px;
        }
        @media only screen and (min-width: 900px) {
            font-size: 18px;
        }
        line-height: 1.5;
    }
    h5 {
        color: black;
        font-size: 12px;
        @media only screen and (min-width: 500px) {
            font-size: 16px;
        }
        @media only screen and (min-width: 900px) {
            font-size: 18px;
        }
        line-height: 1.5;
    }
    h6 {
        font-size: 11px;
        @media only screen and (min-width: 500px) {
            font-size: 15px;
        }
        @media only screen and (min-width: 900px) {
            font-size: 17px;
        }
    }
}