.video {
    margin: 50px 20px 150px 20px;
    @media only screen and (min-width: 950px) {
      margin: 50px 20px;
    }
}

.wrapper {
    position: relative;
    height: 0;
    padding-top: 35%; /* Keep ratio for 900x500 images */
  }
  
.wrapper>iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 98%;
    height: 200px;
    @media only screen and (min-width: 450px) {
      height: 250px;
    }
    @media only screen and (min-width: 600px) {
      height: 330px;
      width: 95%;
      margin: 0 auto;
    }
    @media only screen and (min-width: 800px) {
        width: 85%;
    }
    @media only screen and (min-width: 800px) {
      left: 50px;
      height: 360px;
      width: 75%;
    }
    @media only screen and (min-width: 1200px) {
      height: 450px;
    }
    @media only screen and (min-width: 1300px) {
      height: 500px;
    }
  }
