.gallery {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 60%;
  margin: 200px auto;

    @media only screen and (min-width: 675px) {
      flex-direction: row;
        // width: 400px;
        height: 15%;
    }
    @media only screen and (min-width: 800px) {
      height: 350px;
      margin-left: 15%;
      margin-top: 5%;
    }
  }
  
  .epk-photo {
    opacity: .9;
    // width: 70%;
    @media only screen and (max-width: 500px) {
        height: 50%;
        width: 100%;
    }
    // @media only screen and (min-width: 800px) {
    //     width: 100%;
    // }
  }