.gallery {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 60%;
  margin: 0 auto;
  margin-top: 40%;
    @media only screen and (min-width: 650px) {
      flex-direction: row;
      height: 280px;
      margin-top: 20%;
    }
    @media only screen and (min-width: 850px) {
      height: 350px;
      margin-left: 15%;
      margin-top: 15%;
    }
  }
  
  .epk-photo {
    opacity: .9;
    @media only screen and (min-width: 650px) {
        height: 100%;
        width: 50%;
    }
  }