<div class="container-fluid">

    <ngb-carousel [interval]="5000">

      <ng-template ngbSlide>
        <div class="wrapper">
            <iframe src="https://www.youtube.com/embed/x5XEz2-oSyQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="wrapper">
            <iframe src="https://www.youtube.com/embed/qEjZ4SmjX4k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="wrapper">
            <iframe src="https://www.youtube.com/embed/ahbVybVSu4c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="wrapper">
            <iframe src="https://www.youtube.com/embed/wgCv4J2SFqY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </ng-template>

    </ngb-carousel>
</div>