.listen-card {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 800px;
    height: 200px;
    margin: 40px 40px 40px 0;
  }
  
  .mat-card {
    background: rgba(189, 195, 199, 0.8);
    color: black;
    font-family: 'Nothing You Could Do', cursive;
    .mat-card-header {
      width: 35%;
    .mat-card-title {
      font-size: 36px !important;
      line-height: 1;
    }
  }
  }
  
  .logo {
    width: 25%;
  }
  
  .email-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    .mat-label,
    .mat-input-element {
      font-size: 18px;
    }
  }
    
  .mat-card-actions {
    margin-bottom: 0;
    margin-left: 10px;
  }
  
  .mat-button {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6  51%, #2BC0E4  100%)}
  .mat-button {
     margin: 10px;
     padding: 10px 15px;
     text-align: center;
     transition: 0.5s;
     background-size: 100% auto;
     color: white;  
     font-family: 'Nothing You Could Do', cursive; 
     font-size: 18px;         
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }
  
   .mat-button:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  
  