<div class="bio">
    <h1>All About EB</h1>
    <h5>Elyza is an accomplished musician, who started her career in college honing her craft of classical French horn and singing musical theatre tunes. After 11 years of french horn and music theory, she dropped it all to sing rock n’ roll and jam on her tenor ukulele. But the pulses of distortion kept calling her back, and she’s been enjoying rocking out on a good old Truetone from the 60s ever since.</h5>

    <h5>Having been versed in the art of improv at the Groundlings, learning sitcom and audition technique at Scott Sedita studios, and performing in both the Cricket Feet Showcase and the Twenty-Something Showcase, Elyza has a strong foundation for great funny moments. She’s even done stand up at the Comedy Store. But nonetheless, Elyza’s flair for drama is still alive and well. She also studied at AMDA, getting to sing, dance, and act all day long for musical theatre.</h5>
        
        <h5>When she’s not singing or acting, Elyza can be seen coding like a mad woman, step dancing or doing yoga anywhere and everywhere around NYC, flying on a trapeze, learning another new adventure, or getting intimate with strangers with street photography.</h5>
</div>
