<mat-card class="listen-card">
    <mat-card-header>
      <mat-card-title>Listen</mat-card-title>
    </mat-card-header>

    <img class="logo" src="https://res.cloudinary.com/dadqp2oia/image/upload/v1633649142/Music%20Website/Logos/PoolOfGrey-Single-Art_dcvfis.jpg" alt="black and white photo of Lyric Art with desert and train tracks with purple and blue color">

    <mat-card-actions>
      <a mat-button href="https://ffm.to/poolofgrey" target="_blank">Stream</a>
    </mat-card-actions>
  </mat-card>
  
    
  
