.menu-icon {
    padding: 0 14px;
    cursor: pointer;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .mat-typography {
    font-family: 'Tomorrow', sans-serif;
    font-size: 3em;
  }

  .toolbar {
    background-color: #16114c;
    color: white;
  }