.menu-icon {
    padding: 0 14px;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .logo {
      height: 90%;
      width: 10%;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .mat-typography {
    font-family: 'Tomorrow', sans-serif;
    font-size: 3em;
  }

  .toolbar {
    background-color: #16114c;
    color: white;
    height: 60%;
  }