.gallery {
    width: 280px;
    height: 120px;
    margin: 0 auto;
    @media only screen and (min-width: 500px) {
        width: 400px;
        height: 100px;
    }
    @media only screen and (min-width: 800px) {
      width: 600px;
      height: 200px;
      margin: 20px 100px auto;
    }
}

.bio-photo {
    width: 55%;
    margin-left: 20%;
    @media only screen and (min-width: 500px) {
        width: 33%;
        // margin-left: 300px;
    }
    @media only screen and (min-width: 800px) {
        width: 40%;
        margin-left: 300px;
    }
}