<section class="gallery">

    <div class="row">
        <div class="column">
          <img src="./assets/img/gallery/elyzaLiveSinging1.jpg">
          <img src="./assets/img/gallery/elyzaLiveSinging2.jpg">
          <img src="./assets/img/gallery/titan-saw.jpg">

        </div>
        <div class="column">
          <img src="./assets/img/gallery/RT-PB.jpg">
          <img src="./assets/img/gallery/September_Self-6.jpg">
          <img src="./assets/img/gallery/yellow-hs.jpg">

        </div>
        <div class="column">
          <img src="./assets/img/gallery/EB-color-hs.jpg">
          <img src="./assets/img/gallery/bleau028.jpg">
          <img src="./assets/img/gallery/skydiving.jpg">

        </div>
      </div>
</section>
