<section class="gallery">
    <div>
       <img class="epk-photo one" src="./assets/img/gallery/epk-photo-2.png" download>
        <div>
            <a mat-button class="dl" href="https://dl.dropboxusercontent.com/s/wjj55hmkwcgb263/ElyzaBleau-artist-portrait.png?dl=1" download>Click to Download</a>
        </div>
        <div>
            <a mat-button class="dl" href="https://www.dropbox.com/s/jv7xfps7qy3fxmt/ElyzaBleau-artist-portrait-small.png?dl=1" download>Click for Low Res</a>
        </div>
    </div>
    
    <div>
        <img class="epk-photo two" src="./assets/img/gallery/epk-photo-1.png" download>
    <div>
        <a mat-button class="dl" href="https://dl.dropboxusercontent.com/s/33r2rf22v8aipim/ElyzaBleau-fullBody-alley-portrait.png?dl=1" download>Click to Download</a>
    </div>
    <div>
        <a mat-button class="dl" href="https://www.dropbox.com/s/33r2rf22v8aipim/ElyzaBleau-fullBody-alley-portrait.png?dl=1" download>Click for Low Res</a>
    </div>
    </div>
    
    </section>
    
    
