.gallery {
    border-radius: 6px;
    margin: 60px 0;
    @media only screen and (min-width: 395px) {
        margin: 80px 0;
    }
    @media only screen and (min-width: 500px) {
        margin: 20px 0 0 0;
    }
    @media only screen and (min-width: 600px) {
        margin: 520px 0 0 0;
    }
    @media only screen and (min-width: 650px) {
        margin: 50px 0;
    }
}

h4 {
    color: linear-gradient(to right, #2BC0E4 0%, #EAECC6  51%, #2BC0E4  100%);
    font-size: 40px;
    font-family: 'Special Elite', cursive;
    text-align: center;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 10px 10px 5px rgb(140, 143, 145, 0.8);
    padding: 0 4px;
    margin: 0 auto;
    width: 95%;
    @media only screen and (min-width: 600px) {
        width: 70%;
    }
    background: rgba(189, 195, 199, 0.8);
}

.column {
    flex: 25%;
    padding: 0 4px;
    margin: 10px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 45%;
    .three {
        width: 25%;
    }
}

a {
   font-size: 16px;
   color: #2288c6;
}
 

 