.video {
  background: rgba(189, 195, 199, 0.8);
  border-radius: 6px;
  box-shadow: 10px 10px 5px rgb(140, 143, 145, 0.8);
  margin: 50px auto;
  width: 90%;
  height: 180px;
  @media only screen and (min-width: 450px) {
    margin: 50px 20px 20px 50px;
    height: 220px;
    width: 70%;
  }
  @media only screen and (min-width: 600px) {
    height: 250px;
  }
  @media only screen and (min-width: 800px) {
    margin: 0 20px 20px 150px;
    height: 350px;
  }

&__item {
    position: relative;
    height: 0;
    padding-top: 35%; /* Keep ratio for 900x500 images */
  }
  
  &__item>iframe {
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 140px;
    @media only screen and (min-width: 450px) {
      height: 170px;
    }
    @media only screen and (min-width: 600px) {
      height: 220px;
    }
    @media only screen and (min-width: 800px) {
      left: 50px;
      height: 300px;
    }
}
}