.space {
    height: 300px;
    width: 200px;
}

.jarallax {
    background-image: url(/assets/bg/lake-elsinore.png);
    background-attachment: fixed; 
    height: 4500px;
    @media only screen and (min-width: 400px) {
        height: 4400px;
    }
    @media only screen and (min-width: 550px) {
        height: 4000px;
    }
    @media only screen and (min-width: 650px) {
        height: 3800px;
    }
    margin-top: -70px;
    background-repeat: no-repeat;
    background-size: cover;
}