<mat-card class="video">

    <div class="video__item">
        <iframe
          src="https://www.youtube.com/embed/0Ew5iUWkFMU"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

</mat-card>

<mat-card class="video">

  <div class="video__item">
      <iframe
        src="https://www.youtube.com/embed/SWKSvGXnsVo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

</mat-card>

<mat-card class="video">

  <div class="video__item">
      <iframe
        src="https://www.youtube.com/embed/Xb1UQKzHwnA"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

</mat-card>
