<mat-card class="video">

    <div class="video__item">
      <h1>
        "Apparition" Music Video Release 9/10/2021!
      </h1>
      <h2>Sign up for the mailing list now to get a reminder</h2>
      <mat-card-actions>
        <button
          mat-button
          href="javascript:void(0)"
          onclick="ml_webform_4267936('show')"
        >
          Sign Up
        </button>
      </mat-card-actions>
        <!-- <iframe
          src="https://www.youtube.com/embed/x5XEz2-oSyQ"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe> -->
      </div>

</mat-card>
