.space {
    height: 200px;
    width: 200px;
}

.jarallax {
    background-image: url(/assets/bg/fromTheTrain.jpg);
    background-attachment: fixed; 
    height: 2000px;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-size: cover;
}