.space {
    height: 200px;
    width: 200px;
}

.home {
    background-image: url(/assets/img/fromTheTrain.jpg);
    margin-top: -70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}