.space {
    height: 100px;
    width: 100px;
}

.gallery {
    background-image: url(/assets/bg/MtCamera.jpg);
    margin-top: -70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}