.space {
    height: 200px;
    width: 100px;
}

.jarallax {
    background-image: url(/assets/bg/mtcamera4.png);
    background-attachment: fixed;
    @media only screen and (min-width: 500px) {
        height: 1800px;
    }
    margin-top: -70px;
    background-repeat: no-repeat;
    background-size: cover;
}
