.space {
    height: 200px;
    width: 100px;
}

.jarallax {
    background-image: url(https://res.cloudinary.com/dadqp2oia/image/upload/v1629673789/Music%20Website/BG/mtcamera4_m2tkmf.png);
    background-attachment: fixed;
    @media only screen and (min-width: 500px) {
        height: 1800px;
    }
    margin-top: -70px;
    background-repeat: no-repeat;
    background-size: cover;
}
