.bio-three {
    background: rgba(189, 195, 199, 0.8);
    padding: 30px;
    margin: 20px auto 10px auto;
    width: 280px;
    height: 220px;
    @media only screen and (min-width: 500px) {
        width: 450px;
        height: 220px;
    }
    @media only screen and (min-width: 800px) {
        width: 600px;
        height: 200px;
        margin: 20px 100px auto;
    }
    h5 {
        color: black;
        font-size: 14px;
        @media only screen and (min-width: 500px) {
            font-size: 18px;
        }
        @media only screen and (min-width: 900px) {
            font-size: 20px;
        }
        line-height: 1.5;
    }
}