.gallery {
  display: flex;
  flex-direction: row;
  height: 175px;
  justify-content: center;
  @media only screen and (min-width: 500px) {
      width: 400px;
      height: 100px;
  }
  @media only screen and (min-width: 800px) {
    width: 600px;
    height: 325px;
    // margin-left: 45%;
  }
}

.epk-photo {
  opacity: .9;
  .one {
  width: 70%;
    @media only screen and (min-width: 500px) {
        width: 80%;
    }
    @media only screen and (min-width: 800px) {
        width: 70%;
    }
  }
  .two {
    width: 100%;
    @media only screen and (min-width: 500px) {
        width: 80%;
    }
    @media only screen and (min-width: 800px) {
        width: 100%;
    }
  }
}