
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@include mat-core();

$jibe-coding-challenge-primary: mat-palette($mat-blue, 200);
$jibe-coding-challenge-accent: mat-palette($mat-red, A800, A500, A900);

$jibe-coding-challenge-warn: mat-palette($mat-red);

$jibe-coding-challenge-theme: mat-dark-theme($jibe-coding-challenge-primary, $jibe-coding-challenge-accent, $jibe-coding-challenge-warn);

@include angular-material-theme($jibe-coding-challenge-theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Tomorrow', sans-serif; }

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Tomorrow, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);