.home {
    background-image: url(/assets/img/fromTheTrain.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 56px;
        margin: 0 auto;
    }
 
}