.space {
    height: 200px;
    width: 200px;
}

.jarallax {
    background-image: url(https://res.cloudinary.com/dadqp2oia/image/upload/v1629673789/Music%20Website/BG/train-derail_ygmxpe.png);
    background-attachment: fixed; 
    height: 2000px;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-size: cover;
}

