<div class="row">
  <div class="gallery">
    <figure class="gallery__item gallery__item--1">
      <iframe
        class="gallery__video"
        src="https://www.youtube.com/embed/x5XEz2-oSyQ"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </figure>
    <figure class="gallery__item gallery__item--2">
      <iframe
        class="gallery__video"
        src="https://www.youtube.com/embed/qEjZ4SmjX4k"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </figure>
    <figure class="gallery__item gallery__item--3">
      <iframe
        class="gallery__video"
        src="https://www.youtube.com/embed/ahbVybVSu4c"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </figure>
    <figure class="gallery__item gallery__item--4">
      <iframe
        class="gallery__video"
        src="https://www.youtube.com/embed/wgCv4J2SFqY"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </figure>
  </div>
</div>

<!-- <section class="gallery">
    <div class="row">
      <div class="column">
        <img src="./assets/img/videoGallery/shut_up_and_dance1.png" />
      </div>
      <div class="column">
        <img src="./assets/img/videoGallery/purify_me.png" />
        <img src="./assets/img/videoGallery/stand_by_me.png" />
      </div>
      <div class="column">
        <img src="./assets/img/videoGallery/break_your_heart.png" />
      </div>
    </div>
  </section> -->
