.mailing-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  box-shadow: 10px 10px 5px rgb(140, 143, 145, 0.8);
  padding: 30px;
  width: 275px;
  height: 200px;
  margin: 0 auto;
  @media only screen and (min-width: 500px) {
    width: 400px;
    height: 170px;
  }
  @media only screen and (min-width: 800px) {
    width: 600px;
    height: 275px;
    margin-left: 25%;
  }
  @media only screen and (min-width: 1100px) {
    margin-left: 45%;
  }
}

// .row {
//   flex-direction: row;
//   width: 50%;
//   text-align: center;
//   padding: 0 20px;
// }

.mat-card {
  background: rgba(189, 195, 199, 0.7);
  color: black;
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
  .mat-card-header {
    .mat-card-title {
      font-size: 20px;
      @media only screen and (min-width: 800px) {
      font-size: 36px !important;
      }
      line-height: 1;
    }
  }
}

.logo {
  width: 75%;
}
  
.mat-card-actions {
  margin-bottom: 0;
  margin-left: 35px;
  @media only screen and (min-width: 800px) {
    margin-left: 50px;
  }
}

.mat-button {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6  51%, #2BC0E4  100%)}
.mat-button {
   margin: 10px;
   padding: 10px 15px;
   @media only screen and (min-width: 500px) {
    padding: 10px 35px;
   }
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .mat-button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

